body
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: rgb(197, 197, 216);
    margin: 50pxpx;  
}
.titulo-principal 
{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(144, 144, 226);
}
.escudo
{
    margin: 30px;
}
.escudo img
{
    height: 200px;
}
.contenido
{
    font-size: 18px;
    margin-top: 20px;
    line-height: 2;
}
.fecha
{
    margin-top: 40px;
    font-size: 18px;
}

 